# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

/storage/logs/*
/storage/cache/*
/storage/uploads/*
!/storage/logs/.gitkeep
!/storage/cache/.gitkeep
!/storage/uploads/.gitkeep

/node_modules/

.log

.DS_Store

.vscode/
.idea/

/db

package.json
package-lock.json
